html {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 10fr 0.5fr;
  grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  margin: 2vw;
  padding: 0;
  height: calc(100% - 4vw);
  border: 2vw dashed orange;
  background-color: black;
  font-family: monospace;
  color: white;
}

.parmabox{
  grid-area: main;
  border: darkorange 5vw solid;
  min-height: 6vw;
  min-width: 6vw;
  padding: 4px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
  color: darkorange;
  font-size: clamp(10px, 1vw, 9999px);
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
  color: darkorange;
  font-size: clamp(10px, 1vw, 9999px);
}

.parmaflex {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  border: 10px dashed orange;
  padding: 5px; 
}

.menucontainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.message {
  font-size: 0.8em;
  color: darkorange;
  margin: 20px;
}