*, *::before, *::after {    /*remove unexpected defaults and be explicit with everything*/
    all: unset;
    display: revert;
    box-sizing: border-box;
  }
  
  html {
    font-family: monospace;
    color: white;
    padding: 0px;
    height:calc(100% - 4vw); /* Because of 2 x 2vw maring in body */
    /*background-image: url(pn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: black;

  }