body {
  margin: 2vw;
  padding: 2vw;
  border: 2vw dashed orange;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.23fr 10fr 1fr ; /* affects terminal height choice. 12.73 parts to height. Going with  50 char wide, 16 rows high*/
  grid-template-areas:
      "header"
      "spacer"
      "main"
      "footer";
  height: 100%
}
.spacer {
  grid-area: spacer;
  height: 100%;
  border-bottom: darkorange solid 2px;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: darkorange;
  font-size: clamp(4em, 2vw, 9999px);
  letter-spacing: 0.3em; 
  height: 100%;
}
.main {
  height: 100%;
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "1 2 3"
      "4 5 6"
      "7 8 9";
  grid-gap: 1vw;
  padding: 7.5vw;
  color: darkorange;
  font-size: clamp(1em, 2vw, 9999px);
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
      "1 2 3";
  height: 100%;
  border-top: darkorange solid 2px;
}