.parmabox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    color: rgb(167, 116, 54);
    font-size: clamp(1em, 2vw, 9999px);
    letter-spacing: 0.3em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer .parmabox {
    padding: 0;
    margin-top: 1vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: darkorange;
    font-size: clamp(1em, 1vw, 9999px);
    letter-spacing: unset;
} 

.main .parmabox:hover {
/*    font-size: clamp(1em, 2.5vw, 9999px);*/
    background-color: #1a1a1a;
    color: rgb(22, 198, 10);;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.main .parmabox:active {
    background-color: #1a1a1a;
    color: rgb(22,198,10);
    font-size: clamp(1em, 2.5vw, 9999px);
    letter-spacing: 0.3em;
    border-radius: 10px;
    transition: all 0s ease-in-out;
}
/*
.parmabox:hover {
    background-color: darkorange;
    color: black;
    font-size: clamp(1em, 3vw, 9999px);
    letter-spacing: 0.3em;
    border-radius: 10px;
    transition: all 0.7s ease-in-out;
}
*/